.center {
  display: flex;
  flex-direction: column;
}

#search-container {
  margin-top: 0em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
