.center {
  display: flex;
  flex-direction: column;
}

#search-container {
  margin-top: 0em;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 32rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  align-items: center; /* left and right */
  justify-content: center;
}
